/* Base CSS Data */

html,
body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  background-color: #f7f8f7;
  color: #000000;
  user-select: none;
}

h1,
p {
  margin: 0;
}

/* Header CSS Data */

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1em 2em;
}

nav {
  display: flex;
  gap: 1em;
}

button {
  padding: 1em;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  outline: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:disabled {
  background-color: #d7dad8;
  color: #000000;
  cursor: not-allowed;
}

.primary {
  background-color: #3a383d;
  color: #d7dad8;
}

.secondary {
  background-color: #d7dad8;
  color: #000000;
}

.primary:hover,
.primary:focus .primary:active {
  background-color: #d7dad8;
  color: #000000;
}

.secondary:hover,
.secondary:focus .secondary:active {
  background-color: #3a383d;
  color: #d7dad8;
}

/* Footer CSS Data */

footer {
  text-align: center;
  font-weight: bold;
  font-size: 1em;
  position: absolute;
  bottom: 1em;
  left: 0;
  right: 0;
}

/* Homepage */

.homepage {
  display: flex;
  justify-content: space-between;
  padding: 6em 10em;
}

/* Login Form */

.login-section {
  text-align: center;
  margin-top: 2em;
}

.link {
  color: #3a383d;
  font-weight: 600;
  cursor: pointer;
}

.logo {
  height: 4em;
  margin: 0 auto;
  display: block;
}

.error-message {
  color: red;
  opacity: 60%;
  text-align: center;
  font-weight: bold;
}

.form-area {
  display: flex;
  flex-direction: column;
  gap: 1em;
  max-width: 100%;
  margin: 0 auto;
}

.form-element {
  height: 3em;
  outline: none;
  border: none;
  padding: 10px;
  font-size: 1em;
  font-family: "Montserrat", sans-serif;
  border-radius: 10px;
}

.form-element:focus,
.form-element:hover,
.form-element:active {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

/* Feed area */
.main-area {
  display: flex;
  justify-content: space-between;
  margin-right: 50px;
}

/* Side Bar */

.sidebar {
  padding: 1em;
}

.sidebar-element {
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 10px 5px;
  border-radius: 20px;
  font-size: 1.8em;
}

.sidebar-logo {
  height: 40px;
  padding: 10px 5px;
}

.sidebar-element:hover,
.sidebar-element:focus,
.sidebar-element:active {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.sidebar-element > h1 {
  font-size: 1em;
  font-weight: 500;
  margin-left: 10px;
}

.sidebar-btn {
  margin-top: 1.5em;
  width: 100%;
}

.profile-more-options.disabled {
  display: none;
}

/* Search Area */

.search-area-section {
  padding-top: 1em;
}

.search-area {
  display: flex;
  align-items: center;
  gap: 10px;
}

.search-area-input-element {
  outline: none;
  border: none;
  font-size: 1.5em;
  padding: 10px;
  border-radius: 10px;
  font-family: "Montserrat", sans-serif;
}

.search-btn {
  padding: 15px;
  margin-right: 10px;
}

.trending-area {
  width: 350px;
  height: auto;
  padding: 1em;
  border-radius: 10px;
}

.trending-items > p {
  margin-bottom: 10px;
  font-weight: bold;
}

.trending-items > p:first-child {
  margin-top: 10px;
}

.trending-items > p:hover,
.trending-items > p:focus,
.trending-items > p:active {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.follow-account-section {
  padding: 1em;
}

.follow-accounts-item {
  display: flex;
  align-items: center;
  width: 100%;
  margin-bottom: 10px;
}

.follow-accounts-item:first-child {
  margin-top: 10px;
}

.follow-accounts-item > button {
  margin-left: auto;
}

.account-icon {
  height: 50px;
  padding-right: 1em;
}

.user-name {
  font-weight: bold;
  margin-bottom: 5px;
}

.username {
  font-weight: 200;
}

/* Feed area */

.feed-area {
  padding-top: 1em;
}

.profile-pic {
  height: 4em;
  grid-area: profile-pic;
  border-radius: 10px;
}

.post-box {
  display: grid;
  grid-template:
    "profile-pic post-input-form post-input-form"
    "profile-pic post-input-form post-input-form"
    "profile-pic action-items action-items";
}

.post-box > img {
  padding-top: 5px;
  margin-right: 10px;
}

.post-input-form {
  height: 100px;
  width: 50vw;
  outline: none;
  border: none;
  resize: none;
  font-size: 1.2em;
  padding: 1em;
  border-radius: 10px;
  font-family: "Montserrat", sans-serif;
  grid-area: post-input-form;
}

.action-items {
  grid-area: action-items;
  display: flex;
  align-items: center;
  margin-top: 10px;
  gap: 4em;
}

.add-img-icon {
  font-size: 2em;
  cursor: pointer;
}

#user-upload-img {
  display: none;
}

.post-area {
  max-width: 400px;
  margin: 0 auto;
}

.post {
  background-color: whitesmoke;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  margin: 10px auto 0;
  padding: 1em;
  border-radius: 10px;
}

.user-data-post {
  margin-top: 10px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.user-posted-image {
  margin-top: 10px;
  width: 100%;
  height: 100%;
}

.user-interaction-area {
  display: flex;
  align-items: center;
  gap: 1em;
}

.user-interaction-area > .icon {
  font-size: 2em;
}

.user-interaction-area > .icon:last-child {
  margin-left: auto;
}

.post-description {
  text-align: left;
  padding: 10px 0;
  font-weight: 500;
}

/* User Profile Data */

.user-profile-data-area {
  box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
  display: flex;
  flex-direction: column;
  padding-bottom: 1em;
}

.user-profile-data {
  display: flex;
  align-items: center;
  gap: 1em;
  padding: 1em;
}

.user-profile-pic {
  height: 100px;
  width: 100px;
  border-radius: 10px;
}

.user-profile-text {
  font-size: 2em;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.profile-btn {
  margin-left: auto;
}

.user-data-count {
  font-weight: 500;
  display: flex;
  font-size: 1em;
  gap: 1em;
  margin-bottom: 10px;
  justify-content: center;
}

.follow-btn {
  display: inline-block;
  width: 90%;
  max-width: 600px;
  margin: 0 auto;
}

.no-posts {
  text-align: center;
  font-size: 2em;
  margin: 8em 0;
}

.no-posts > h1 {
  font-size: 1em;
}

.mini-post {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 1em;
}

.mini-post-img {
  height: 500px;
  width: 500px;
}

.profile-more-options {
  position: absolute;
  left: 10em;
  top: 15em;
}

.profile-more-options > p {
  padding: 10px;
  font-weight: 500;
}

.profile-more-options > p:hover,
.profile-more-options > p:active,
.profile-more-options > p:focus {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}


@media only screen and (max-width: 500px) {
  header > h1 {
    display: none;
  }

  .form-area {
    max-width: 90%;
  }

  .mockup {
    display: none;
  }

  .homepage {
    padding: 2em 1em;
  }

  .sidebar {
    display: none;
  }

  .main-area {
    display: inline-block;
    margin-right: 0;
  }

  .mobile-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
  }

  .mobile-header > * {
    padding: 10px;
    border-radius: 5px;
  }

  .mobile-header > *:hover,
  .mobile-header > *:focus,
  .mobile-header > *:active {
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  }

  .mobile-user-account-img {
    height: 2.5em;
  }

  .mobile-settings-icon {
    font-size: 2em;
  }

  .post {
    padding: 5px;
  }

  .post-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
  }

  .post-input-form {
    width: 80vw;
  }

  .profile-pic {
    display: none;
  }

  .user-data-post > .profile-pic {
    display: block;
  }

  .action-items {
    display: flex;
    justify-content: space-between;
    padding: 0 1em;
  }

  .user-profile-pic {
    height: 75px;
    width: 75px;
  }

  .user-profile-text {
    font-size: 1em;
  }

  .profile-more-options {
    display: flex;
    flex-direction: column;
    position: relative;
    top: 0;
    left: 0;
  }

  .profile-more-options > p {
    font-weight: 600;
    text-align: center;
    padding: 10px;
  }
  
  .profile-more-options > p:active,
  .profile-more-options > p:focus,
  .profile-more-options > p:hover {
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  }
}

/* @media only screen and (max-width: 700px) {
  .sidebar {
    display: none;
  }
} */

@media only screen and (max-width: 850px) {
  .mockup {
    display: none;
  }

  .login-section {
    margin: 0 auto;
  }

  .sidebar-element {
    display: flex;
    justify-content: center;
  }

  .sidebar-element > h1 {
    display: none;
  }

  .profile-pic {
    height: 3em;
  }

  /* .main-area:first-child {
    display: flex;
    justify-content: center;
  } */
}

@media only screen and (max-width: 1200px) {
  .search-area-section {
    display: none;
  }
}
